

body, nav{
    background-image: url(https://media0.giphy.com/media/aRZ4vTsHnyW6A/giphy.gif?cid=ecf05e47tywmar10i6kpmfxnr9m1ih7gg77j5ge49iepmy5x&ep=v1_gifs_search&rid=giphy.gif&ct=g);
    background-repeat: no-repeat;
    background-size: cover;

    
}

h1{
    color: #F6DF1E;
}

.h1Animation{
    color: #F6DF1E;
}

h2{
}

h4{
    color: white;
}

h5{
    color: white;
}

hr{
    color: rgb(214, 182, 0);
    height: 300px;
}

nav{
    display: flex;
    justify-content: space-between;
}

.planetTitle{
    color: #09B8F0;
}

.characterBox{
    box-shadow: 0px 0px 30px 2px #ceac55;
    border-radius: 25px;
    
}

.planetBox{
    box-shadow: 0px 0px 30px 2px #09B8F0;
    border-radius: 25px;
}




.btn{
    background-color: black;
    color: #ceac55;
    border: 1px solid #F6DF1E;
}

.btn:hover{
    background-color: #FFD95A;
    color: black;
    border: 1px solid black;
    

}


.btnPlanets{
    background-color: black;
    color: #09B8F0;
    border: 1px solid #0099ff;
}

.btnPlanets:hover{
    background-color: #09B8F0;
    color: black;
    border: 1px solid #000000;

}


.bg-planets{
    background-color: #19376D;
}

.bg-characters{
    background-color: #ceac55;
}

.logo{
    width: 7rem;
    margin-left: 12rem;
    color: black;
}

.favorites{
    margin-right: 12rem;
}

.favorite{
    background-color: #000000;
    color: #ceac55;
    font-size: 20px;
    font-weight: bolder;
    

}

.favorite:hover{
    background-color: #FFD95A;
    color: #000000;
    border: 1px solid black;

    
}

.favoritePlanet{
    background-color: #000000;
    color: #09B8F0;
    font-size: 20px;
    font-weight: bolder;
    border: 1px solid #0099ff;

}

.favoritePlanet:hover{
    background-color: #09B8F0;
    color: #000000;
    border: 1px solid black;

    
}

.characterFather{
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}

.characterBody{
    
    width: auto;
    margin-top: 2.7rem;
    height: 30rem;
    background-image: url(https://media0.giphy.com/media/aRZ4vTsHnyW6A/giphy.gif?cid=ecf05e47tywmar10i6kpmfxnr9m1ih7gg77j5ge49iepmy5x&ep=v1_gifs_search&rid=giphy.gif&ct=g);
    border: 1px solid #ceac55;
    border-radius: 20px;
    background: rgba( 255, 255, 255, 0.05 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
}

.planetBody{
    width: auto;
    height: 30rem;
    background-image: url(https://media0.giphy.com/media/aRZ4vTsHnyW6A/giphy.gif?cid=ecf05e47tywmar10i6kpmfxnr9m1ih7gg77j5ge49iepmy5x&ep=v1_gifs_search&rid=giphy.gif&ct=g);
    border: 1px solid #09B8F0;
    border-radius: 20px;
    background: rgba( 255, 255, 255, 0.05 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
}

.details{
    color: #ceac55;
}

.planetDetails{
    color:#0099ff;
}

.hr{
    width: 54.4rem;
    height: .2rem;
    color: #ffffff;
    background-color: #ceac55;
    margin-top: -2rem;
}

.hrPlanet{
    width: 54.4rem;
    height: .2rem;
    color: #ffffff;
    background-color:#19376D;
    margin-top: -2rem;
}

.firstRow{
    margin-top: -2rem;
    
}

.planets{
    color: #09B8F0;
    
    
}

.h1Animation{-webkit-animation:focus-in-expand .8s cubic-bezier(.25,.46,.45,.94) both;animation:focus-in-expand .8s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes focus-in-expand{0%{letter-spacing:-.5em;-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-expand{0%{letter-spacing:-.5em;-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}
